.card-container {
  display: none;
  position: absolute;
  width: 30%;
  max-width: 30%;
  top: 0%;
  margin-top: 1em;
  right: 1.5rem;
}

@media screen and (min-width: 1330px) {
  .card-container {
    width: 30%;
    max-width: 30%;
    top: 0%;
    margin-top: 1em;
    right: 1.5rem;
  }
}
@media screen and (max-width: 1220px) {
  .card-container {
    width: 35%;
    max-width: 35%;
    top: 0%;
    margin-top: 1em;
    right: 1.5rem;
  }
}
@media screen and (max-width: 930px) {
  .card-container {
    width: 30%;
    max-width: 30%;
    top: 0%;
    margin-top: 1em;
    right: 1.5rem;
  }
}
@media screen and (min-width: 702px) {
  .card-container {
    display: block;
  }
}
@media screen and (max-width: 701px) {
  .card-container {
    display: none;
  }
}
.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

label {
  padding-bottom: 5px;
}

input {
  margin-top: 3px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.ccicon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 6px;
  top: calc(50% - 17px);
  /*  calc(50% - 17px); */
  box-shadow: 2px 2px 3px black;
}

.creditcard {
  position: relative;
  width: 100%;
  height: 100%;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#ccsingle {
  right: 15px;
  /* top: 20px; */
  width: 70%;
  height: 50%;
}

#ccsingle svg {
  position: absolute;
  width: 50%;
  height: 50%;
  max-height: 100%;
  right: 0;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  transition: fill 0.5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-family: "Rock Salt", cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  transform: rotateY(180deg);
}

.creditcard.flipped {
  transform: rotateY(180deg);
}
/* START SPINNER */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
}

.lds-ellipsis span {
  position: absolute;
  bottom: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #E6E8FD;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis span:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis span:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis span:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis span:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.spinner {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.wrrap {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* END SPINNER */
@charset "UTF-8";
/* START SELECT */
div.cs-skin-elastic {
  background: transparent;
}

@media screen and (max-width: 30em) {
  div.cs-skin-elastic {
    font-size: 1rem;
  }
}
.cs-skin-elastic > span {
  z-index: 100;
}

.cs-skin-elastic > span::after {
  content: "";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
  overflow: visible;
  background: transparent;
  opacity: 1;
  visibility: visible;
  padding-bottom: 1.25em;
  pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
  pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scale3d(1, 0, 1);
  transform-origin: 50% 0%;
  transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
  transform: scale3d(1, 1, 1);
  transition: none;
  -webkit-animation: expand 0.6s ease-out;
  animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
  opacity: 0;
  transform: translate3d(0, -25px, 0);
  transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: none;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 2em auto;
  /* padding: 0.5em .5em 0.5em 3em; */
  padding: 0.5rem 1rem;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
  color: #1e4c4a;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
  content: "";
}

/* .cs-skin-elastic .cs-options li.flag-france span {
    background-image: url(../img/france.svg);
}

.cs-skin-elastic .cs-options li.flag-brazil span {
    background-image: url(../img/brazil.svg);
}

.cs-skin-elastic .cs-options li.flag-safrica span {
    background-image: url(../img/south-africa.svg);
}

.cs-skin-elastic .cs-options li.flag-argentina span {
    background-image: url(../img/argentina.svg);
} */
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes expand {
  0% {
    transform: scale3d(1, 0, 1);
  }
  25% {
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* 
@-webkit-keyframes bounce { 
    0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); }
    50% { -webkit-transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
    0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
    50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
} */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  /* background: #fff; */
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */
}

.cs-select select {
  display: none;
}

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  /* padding: 1em; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
  content: "▾";
  right: 1em;
}

.cs-select .cs-selected span::after {
  content: "✓";
  margin-left: 1em;
}

.cs-select.cs-active > span::after {
  transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
  z-index: 200;
}

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden;
}

.cs-select.cs-active .cs-options {
  visibility: visible;
}

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  max-height: 300px;
  color: black;
  opacity: 1;
  /* Firefox */
  font-family: "LatoLight", sans-serif;
  vertical-align: text-bottom;
  font-size: 1.3rem;
}

.cs-select span {
  color: black;
  opacity: 1;
  /* Firefox */
  font-family: "LatoLight", sans-serif;
  font-size: 1.3rem;
  vertical-align: text-bottom;
}

.cs-select ul span {
  /* padding: .5em; */
  color: black;
  opacity: 1;
  /* Firefox */
  vertical-align: text-bottom;
}

.cs-select ul li.cs-focus span {
  background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
  cursor: default;
}

/* END SELECT */
html {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
  /* overflow-y: auto; */
}

.payment-container {
  position: relative;
  width: 55vw;
  background: #f9f9ff;
  margin: auto;
  border: 1px solid rgba(0, 0, 100, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "LatoLight", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  box-shadow: 3px 3px 10px black;
  padding: 1.5rem;
}

.payment-container form {
  padding: 0 0;
  margin-top: 5rem;
  width: 100%;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.payment-container .payment-iframe {
  height: 100%;
  width: 100%;
}

.payment-container .payment-iframe iframe {
  height: 90%;
  width: 80%;
  display: inline-block;
  min-height: 70vh;
  border: none;
}

.parent {
  position: relative;
  width: 100%;
  border-radius: 2px;
  text-align: left;
}

.item-group {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.child {
  position: relative;
  border-bottom: 1px solid #d28c0e;
  margin: 1rem 5px;
  flex: 1 1 25%;
}

.no-shrink {
  flex: 0 1 30%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "LatoLight", sans-serif;
}

/* Placholder */
::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
  vertical-align: text-bottom;
}
::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
  vertical-align: text-bottom;
}
:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
  vertical-align: text-bottom;
}
::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
  vertical-align: text-bottom;
}
::placeholder {
  color: black;
  opacity: 1;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
  vertical-align: text-bottom;
}

:-ms-input-placeholder {
  color: black;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
}

::-ms-input-placeholder {
  color: black;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
}

::placeholder,
::-ms-input-placeholder,
:-ms-input-placeholder {
  color: black;
  font-family: "LatoLight", sans-serif;
  font-size: 1.2rem;
}

/* PLACHOLDER END */
/* INPUTS */
.child input,
.parent .submit input,
.child select {
  border: none;
  background: none;
  outline: none;
}

.parent > .submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

.parent .submit > input {
  width: 20%;
  padding: 0.875rem;
  color: #fff;
  border-left: 7px solid #d28c0e;
  border-radius: 24px 24px 24px 24px;
  margin: 1.5rem 0;
}

/* END INPUTS */
/* MEDIA QUERY */
@media screen and (max-width: 930px) {
  .payment-container {
    width: 70%;
  }

  .payment-container form {
    margin-top: 0;
  }
}
@media screen and (max-width: 1140px) {
  .payment-container {
    width: 80%;
  }

  .child {
    flex: 1 1 40%;
  }

  .no-shrink {
    flex: 0 1 40%;
  }
}
@media screen and (max-width: 700px) {
  .payment-container {
    width: 80%;
  }

  .child {
    flex: 1 1 50%;
  }

  .no-shrink {
    /* flex: 0 1 50%; */
    width: 50%;
  }
}
@media screen and (max-width: 554px) {
  .payment-container {
    width: 100%;
  }

  .child {
    flex: 1 1 100%;
  }

  .no-shrink {
    width: 100%;
  }
}
/* END MEDIA QUERY */
/* START LOGO */
.payment-container .claLoggo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
}

.payment-container .claLoggo img {
  display: block;
  margin: auto;
  width: 15%;
  height: 15%;
  opacity: 0.1;
}

/* END LOGO */
.bg {
  background: #1a2451;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid rgba(0, 0, 100, 0.2);
  border-start-end-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bg div.payment-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.bg div.payment-menu div {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.bg div.payment-menu div svg {
  position: relative;
  width: 45%;
  height: 45%;
  align-self: center;
}

.msgs {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.msgs button {
  margin: 5px;
  padding: 1rem;
  z-index: 999;
}

span.invalid,
span.valid,
label.error {
  display: none;
  position: absolute;
  left: 0;
  font-size: 0.5em;
  /* z-index      : 9; */
  top: 55%;
  opacity: 1;
  padding: 5px 2px;
  border-radius: 3px;
  top: 2.7em;
  /* margin-bottom: 3em; */
}

span.invalid,
label.error {
  background: white;
  font-weight: bold;
  color: #d28c0e;
}

.border-error {
  border-bottom: 3px solid red;
}

span.valid {
  color: white;
  background: blue;
}

button.disable {
  background: none;
  border: none;
  outline: none;
  all: unset;
}

div.submit button {
  width: 25%;
  margin: 2rem 0;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 24px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 1rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}

div.submit button:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

div.submit button:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 781px) {
  .parent .submit button {
    width: 60%;
  }
}

/*# sourceMappingURL=app.css.map*/